@charset "utf-8";
@import url(reset.css);

/*
 * Dependency : reset.css
 */

/* **************************************** *
 * GLOBAL
 * **************************************** */
:root {
  --vh: 100%;
  --color-gray: #ccc;
  --font-12: 12px;
  --font-14: 14px;
  --font-16: 16px;
  --font-20: 20px;
}
html, body { overscroll-behavior: none; touch-action: manipulation; }
a {color: #101010; text-decoration: none;}
button {outline: none; border: none; box-shadow: none}
*{-moz-box-sizing: border-box; box-sizing: border-box; letter-spacing: -.4px}


/* **************************************** *
 * LAYOUT
 * **************************************** */
main {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 14px;
}
.button-group {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  padding-block: 10px;
  gap: 10px;
}
.button {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 4px;
  background: #ddd;
}
.button.primary {
  color: #ffffff;
  background: #0076E5;
}
.button.gray {
  color: #333333;
  background: #dddddd;
}

/* **************************************** *
 * BOARD
 * **************************************** */
/* 게시판: 목록 */
.board-filter {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 16px;
}
.board-filter select {
  width: 150px;
  padding: 12px 0;
  padding-block: 12px;
}
.board-list {
  width: 100%;
}
.board-list table {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #7d7d7d;
}
.board-list th,
.board-list td {
  padding: 6px;
  border: 1px solid #c3c3c3;
  border-width: 0 1px 1px 0;
  text-align: center;
}
.board-list th:last-child,
.board-list td:last-child {
  border-right-width: 0;
}
.board-list th {
  font-weight: 600;
  color: #111111;
  background: #cccccc;
}
.board-list .subject {
  display: block;
  text-align: left;
}
.board-pagination {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-top: 10px;
}
.board-pagination .page {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  text-align: center;
  border: 2px solid transparent;;
}
.board-pagination .page.active {
  text-decoration: underline;
  border-color: #111111;
}
.board-pagination .move {
  border: 1px solid #cccccc;
}

/* 게시판: 글쓰기 */
.ck.ck-editor__main>.ck-content{
  height: 250px;
}
.write-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.write-container label {
  display: block;
  font-weight: 500;
}
.write-container input {
  display: block;
  width: 100%;
  height: 32px;
  margin: 2px 0;
  margin-block: 2px;
}